.video-section {
  background-color: black;
}

@media (min-width: 1200px) {
  #main-video {
    width: 1140px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .video-section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
